.cartcard{
    border: 0.5px solid rgb(156, 48, 84);
    border-radius: 15px;
    width: 80%;
    height: 275px;
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagencart{
    height: 175px;
    margin-left: 30px;
}

.izq{
    font-weight: 150;
    color: rgb(156, 48, 84);
    
    
}

.totalprice{
    padding: 20px;
    font-size: large;
    font-weight: bold;
    color: rgb(156, 48, 84);
}
