.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e3c1be;
    font-weight: bold;
    color: #6c3725;
}

.fondo{
    background-color: #e3c1be;
}

.header :hover{
    color: palevioletred;
}

.header a.active,
.header a:active{
    border-bottom: 3px solid rgb(248, 175, 187);
    padding-bottom: 3px;
}

.logo{
    height: 95px;
    padding-top: 15px;
}

li{
    list-style: none;
    color: #6c3725;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-weight:light;
}

.categorias{
    display: none;
    position: absolute;
}

.categorias li{
    display:flex;
    text-justify: left;
    padding: 10px;
    z-index: 1;
    background-color: #e3c1be;;
}

.header li:hover ul{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.columna{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    
}

.columna:hover{
    background-color: #e3c1be;;
}