*{
    font-family: 'Montserrat', sans-serif;

}

h2{
    
    background-color: #e3c1be ;
    padding: 10px;
    text-align:center;
    font-size: 15px;
    
    font-family: 'Montserrat', sans-serif;
    color: #e3c1be ;
}

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

